### SQL Database

In [38]:
# Create sample SQLite DB

import os
import sqlite3

os.makedirs("data/database", exist_ok=True)
conn = sqlite3.connect("data/database/company.db")
cursor = conn.cursor()

In [27]:
cursor.execute('''
                CREATE TABLE IF NOT EXISTS employees(id INTEGER PRIMARY KEY, 
                name TEXT, 
                role TEXT, 
                department TEXT, 
                salary REAL)
               ''')

In [28]:
cursor.execute('''
               CREATE TABLE IF NOT EXISTS projects(
               id INTEGER PRIMARY KEY,
               name TEXT,
               status TEXT,
               budget REAL,
               load_id INTEGER)
               ''')

In [29]:
employees = [
    (1, 'BHAGWAT CHATE', 'GenAI Architect', 'Engineering', 350000),
    (2, 'ALICE JOHNSON', 'ML Engineer', 'Data Science', 240000),
    (3, 'RAVI KUMAR', 'Data Engineer', 'Engineering', 200000),
    (4, 'MEGHA PATIL', 'AI Research Scientist', 'Research', 300000),
    (5, 'DAVID MILLER', 'Cloud Architect', 'Infrastructure', 280000),
    (6, 'SOPHIA LI', 'Product Manager', 'AI Products', 260000)
]

In [30]:
projects = [
    (1, 'RAG implementation', 'Active', 150000, 1),
    (2, 'Chatbot Development', 'Completed', 120000, 2),
    (3, 'Fraud Detection System', 'Active', 200000, 3),
    (4, 'Recommendation Engine', 'On Hold', 175000, 2),
    (5, 'Cloud Migration', 'Completed', 220000, 1),
    (6, 'Generative AI Assistant', 'Planned', 300000, 4)
]

In [31]:
cursor.executemany('INSERT OR REPLACE INTO employees VALUES(?,?,?,?,?)', employees)

In [33]:
cursor.executemany('INSERT OR REPLACE INTO projects VALUES(?,?,?,?,?)', projects)

### Fetch data

In [34]:
cursor.execute("SELECT * FROM employees")

In [36]:
cursor.fetchall()

[(1, 'BHAGWAT CHATE', 'GenAI Architect', 'Engineering', 350000.0),
 (2, 'ALICE JOHNSON', 'ML Engineer', 'Data Science', 240000.0),
 (3, 'RAVI KUMAR', 'Data Engineer', 'Engineering', 200000.0),
 (4, 'MEGHA PATIL', 'AI Research Scientist', 'Research', 300000.0),
 (5, 'DAVID MILLER', 'Cloud Architect', 'Infrastructure', 280000.0),
 (6, 'SOPHIA LI', 'Product Manager', 'AI Products', 260000.0)]

In [37]:
conn.commit()
conn.close()